<div class="background">
  <div class="content">
    <div class="title">
      Restaurant
    </div>

    <div class="text">
      <app-alert></app-alert>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus rhoncus lorem at commodo. Nunc eget orci
        nibh. Nulla rhoncus dictum dolor, id ullamcorper enim dapibus tristique. Fusce venenatis consequat purus.
        Suspendisse tempor facilisis dolor a interdum. Proin sed vulputate quam. Etiam bibendum non ligula a dictum.
        Donec ac arcu sit amet nibh iaculis aliquam. Morbi pharetra libero mi, et iaculis elit efficitur pharetra. Ut et
        ante nisl. Sed lorem quam, laoreet quis venenatis nec, aliquam vel lacus. Phasellus ante urna, eleifend vel
        mattis vitae, dictum eget purus. Donec dignissim convallis erat eget vulputate. Donec molestie porta dapibus.
        Curabitur magna mauris, convallis ac diam at, vestibulum dapibus magna. Vestibulum vel neque sed tortor egestas
        molestie id a est.</p>


      <p>Ut lacinia ante nunc, sit amet fermentum sem gravida quis. Fusce suscipit gravida pretium. Sed id ex dui. Fusce
        dignissim iaculis libero, lobortis laoreet leo semper ac. Nulla ac erat at mauris ultrices vehicula. Nunc
        viverra, urna vel viverra rutrum, nulla nulla viverra libero, sed hendrerit ante magna et diam. Quisque
        pellentesque nunc eu scelerisque euismod. Duis fringilla lacus finibus enim feugiat congue. Nullam convallis
        nibh a purus varius, et ullamcorper enim convallis. Etiam fermentum in lacus sed venenatis. Vestibulum rutrum
        lobortis nisi, at egestas est euismod ac. Nullam faucibus nibh vitae nisi malesuada, quis rutrum ante
        scelerisque. Quisque justo sem, dignissim sed malesuada convallis, ultrices vitae neque.</p>


      <p>Vivamus dapibus justo ac mauris ultricies, in viverra ligula eleifend. Curabitur condimentum aliquet rhoncus.
        Duis ut justo hendrerit, scelerisque lacus vitae, molestie nulla. Maecenas et arcu porttitor, posuere tortor
        non, auctor urna. Suspendisse cursus iaculis leo sit amet fermentum. Maecenas congue magna eleifend est congue,
        vitae dignissim enim pretium. Nullam sed felis sit amet urna lobortis tincidunt eu in felis. Maecenas ut augue
        aliquam, vulputate risus ut, blandit ipsum. Maecenas suscipit porttitor tristique. Duis feugiat vel velit eu
        gravida. Nunc dui purus, vehicula vel lectus lobortis, blandit commodo nibh. Donec tempor sodales velit nec
        semper. Donec sit amet lorem sed risus interdum imperdiet.</p>


      <p>Sed gravida ultricies ornare. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus. Ut mollis lacus lacus. In hac habitasse platea dictumst. Nam tempus, ex ac consectetur suscipit, odio arcu
        mollis nunc, in gravida erat magna eget tortor. Sed eget mauris erat. Cras maximus ante et elit elementum
        tempus. Maecenas ultricies ante sed pulvinar fringilla. Duis urna velit, feugiat eu dui sit amet, pharetra
        tincidunt tellus.</p>


      <p> In quis enim eget ligula feugiat vestibulum. Proin lacinia, leo sit amet pulvinar feugiat, mi ipsum fringilla
        eros, vel congue enim enim sit amet odio. Curabitur quis tempor lorem, id molestie felis. Sed eu dolor posuere
        metus vestibulum viverra. Vestibulum in libero a ipsum feugiat tristique. Pellentesque lacus felis, tincidunt a
        dictum at, dictum eget ex. Ut pharetra efficitur lectus at pharetra. Sed dapibus nibh sit amet nunc mollis
        tincidunt.
      </p>

      <p> Cras sodales velit at gravida blandit. In convallis elit vitae odio pulvinar, vitae consequat nibh aliquam.
        Nullam sit amet fermentum nunc. Donec porttitor sit amet orci at tempus. Cras vitae neque ac massa rutrum
        tincidunt. Duis lacinia nec lectus in dignissim. Nunc pellentesque odio non pharetra iaculis. Nunc enim mi,
        iaculis quis dolor semper, blandit malesuada turpis. Praesent ullamcorper consequat ante, nec elementum dui
        rutrum ut. Vestibulum vel molestie nisl, bibendum congue diam. Cras interdum eleifend arcu, ac suscipit metus
        porttitor et. Donec mauris sapien, molestie ut leo a, vehicula vestibulum tellus. Ut et dolor ac lorem fermentum
        dignissim nec nec nisi. Nulla facilisi. Morbi in faucibus erat, a molestie nulla. Morbi sed enim lectus.
      </p>
    </div>
  </div>
</div>
