<div class="content">
  <div class="title">Dishes</div>
  <div class="text">
    <app-alert></app-alert>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="dishId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dish ID </th>
          <td mat-cell *matCellDef="let dish"> {{dish.dishId}} </td>
        </ng-container>

        <ng-container matColumnDef="englishName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> English name </th>
          <td mat-cell *matCellDef="let dish"> {{dish.englishName}} </td>
        </ng-container>

        <ng-container matColumnDef="polishName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Polish name </th>
          <td mat-cell *matCellDef="let dish"> {{dish.polishName}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let dish"> {{dish.price | number : '.2'}} </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Options </th>
          <td mat-cell *matCellDef="let dish">
            <a (click)="deleteDish(dish.dishId)" class="glyphicon glyphicon-remove"></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <app-alert></app-alert>
    <form [formGroup]="dishForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="englishName">English Name </label>
        <input type="text" formControlName="englishName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.englishName.errors }" />
        <div *ngIf="submitted && f.englishName.errors" class="invalid-feedback">
          <div *ngIf="f.englishName.errors.required">English name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="polishName">Polish Name </label>
        <input type="text" formControlName="polishName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.polishName.errors }" />
        <div *ngIf="submitted && f.polishName.errors" class="invalid-feedback">
          <div *ngIf="f.polishName.errors.required">Polish name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price </label>
        <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
          <div *ngIf="f.price.errors.required">Price is required</div>
          <div *ngIf="f.price.errors.min">Price has to be positive number.</div>
        </div>
      </div>
      <label>Image</label>
      <input type="file" accept="image/png" (change)="changeListener($event)" class="form-control">
      <br>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Add Dish</button>
      </div>
    </form>

  </div>

</div>
