
.text {
  padding-top: 2em;
}

.englishName {
  font-size: 2em;
  text-align: right;
}

.polishName {
  font-size: 1em;
}

.price {
  font-size: 3em;
  text-align: right;
}

table {
  width: 50vw;
  text-align: justify;
}

tr {
  border-bottom: 1px solid #ddd;
}

tr:hover{
  background: rgba(255, 255, 255, 0.15);
}
td {
  padding-top: 0.5em;
}
