input{
  text-align: center;
  width: 50vw;
}

table {
  text-align: left;
  width: 100%;
  padding: auto;
}
.title {
  font-size: 3em;
}


.tab{
  padding: 0em 2em;
}

.mat-elevation-z8{
  padding: 2em 2em;
}
