<!--<ul>-->
<!--<li><a routerLink="/about" routerLinkActive="active">About</a></li>-->
<!--<li><a routerLink="/menu" routerLinkActive="active">Menu</a></li>-->
<!--<li><a routerLink="/reservation" routerLinkActive="active">Reservation</a></li>-->
<!--<li><a routerLink="/service" routerLinkActive="active">Service</a></li>-->
<!--<li><a routerLink="/management" routerLinkActive="active">Management</a></li>-->
<!--<li></li>-->
<!--</ul>-->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/about">Restaurant</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/menu" routerLinkActive="active">Menu</a></li>
        <li><a routerLink="/reservation" routerLinkActive="active">Reservation</a></li>
        <li class="dropdown" *ngIf="currentUser && currentUser.roles.length>1"><a class="dropdown-toggle" data-toggle="dropdown" href="#" routerLinkActive="active">Service</a>
          <ul class="dropdown-menu">
            <li><a routerLink="service/serviceTable" routerLinkActive="active">Tables</a></li>
            <li><a routerLink="service/serviceReservation" routerLinkActive="active">Reservations</a></li>
          </ul>
        </li>
        <li class="dropdown" *ngIf="currentUser && currentUser.roles.length>2"><a class="dropdown-toggle" data-toggle="dropdown" href="#" routerLinkActive="active">Management</a>
        <ul class="dropdown-menu">
          <li><a routerLink="management/usersManagement" routerLinkActive="active">Users</a></li>
          <li><a routerLink="management/billsManagement" routerLinkActive="active">Bills</a></li>
          <li><a routerLink="management/reservationsManagement" routerLinkActive="active">Reservations</a></li>
          <li><a routerLink="management/tablesManagement" routerLinkActive="active">Tables</a></li>
          <li><a routerLink="management/dishesManagement" routerLinkActive="active">Dishes</a></li>
        </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li class = "weather">Warsaw: <app-weather></app-weather></li>-->
        <li *ngIf="!currentUser"><a routerLink="/register" routerLinkActive="active"><span
          class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li *ngIf="!currentUser"><a routerLink="/login" routerLinkActive="active"><span
          class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li *ngIf="currentUser"><a routerLink="/profile" routerLinkActive="active"><span
          class="glyphicon glyphicon-user"></span> {{currentUser.firstName}}</a></li>
        <li (click)="logout()" *ngIf="currentUser"><a routerLink="/logout" routerLinkActive="active"><span
          class="glyphicon glyphicon-log-in"></span> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
