nav{
  background-color: #222;
}

.dropdown-menu{
  background-color: #222;
}

li a {
  color: white;
}


li a:focus {
  background-color: #EAB126;
}

.active {
  background-color: #EAB126;
}

li a:hover {
  background-color: #EAB126;
  color: black;
}

.navbar {
  position: fixed;
  width: 100%;
}

.dropdown-menu {
  color: black;
}

.weather {
  color: white;
  padding: 1em;
}


